<div class="page-footer">
  <div class="container">
    <div class="copyright">
      <b>
        <a class="copyright-link" href="http://goncalves.ramires@gmail.com/">Powered
          <i class="material-icons copyright-icon">flash_on</i> By Diego Ramires
        </a>
      </b>
    </div>
  </div>
</div>